__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
*.log
*.sqlite3
.DS_Store
.idea/
.vscode/
*.env
*.env.*

